#canvas {
    width:3200px;
    height:1600px;
    background-image:url("image/Front.svg");
    background-repeat:no-repeat;
}

object {
    width:50%;
    position:relative;
    top:100px;
    left:100px;
}

.stand {
    position:absolute;
    top:800px;
    left:800px;
    z-index:5;
}