:root {
    --updown: 25.89px;
}

body {
    /* transform: scale(1); */
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-width: fit-content;
    transition: all 0.2s;
    /* width: 3200px;
    height: 1600px; */
}

.wrapper {
    /* overflow: hidden; */
    display: inline-block;
    height: 100%;
    width: 100%;
}

.sidebar_button {
    padding-top: 10px;
    position:fixed;
    top: 10px;
    right: 10px;
    z-index:4;
}

.sidebar_button button {
    width: 160px;
    height: 40px;
    font-size: 1.5em;
    background-color: rgba(25, 255, 186, 0.856);
    border: 0;
    border-radius: 10px;
}

.sidebar_button button:hover {
    cursor: pointer;
}


.sidebar {
    background-color: rgba(232, 250, 233, 0.835);
    width: 300px;
    height: 100%;
    bottom: 0px;
    right: 0;
    z-index:3;
    position: fixed;
    /* display: flex;
    flex-direction: column; */
    transition: all 0.4s;
}

.sidebar>div{
    /* padding-top: 80px; */
    padding: 80px 10px 0 10px;
}

.sidebar.hidden {
    right: -300px;
}

.controls {
    border:1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    z-index:3;
}

.controls input {
    vertical-align: middle;
    width: 160px;
}

.controls div {
    padding: 3px;
    display: inline;
    vertical-align: middle;
}

#canvas {
    width: 3200px;
    height: 1600px;
    /* display: inline-table; */
    top: var(--updown);
    position:absolute;
    cursor: move;
    background-image:url("image/Front.svg");
    background-repeat:no-repeat;
    opacity: 0.5;
}

#front_pic {
    position:absolute;
    top:0;
    left:0;
    width:1110px;
    height:750px;
    z-index: 1;
    /* background-image:url("image/ref_pic.jpg");
    background-size: 100%;
    background-repeat: no-repeat; */
    opacity: 0.5;
    transform: rotate(-1deg)
}


object {
    width:50%;
    position:relative;
    top:100px;
    left:100px;
}

.stand {
    position:absolute;
    z-index:2;
    cursor:grab;
}

#_1 {
    left:850px;
    top:1200px;
}

#_2 {
    left:1050px;
    top:1200px;
}

#_3 {
    left:1200px;
    top:1200px;
}

#_4 {
    left:1300px;
    top:1200px;
}

#_5 {
    left:1400px;
    top:1200px;
}