:root {
    --updown: 25.89px;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    max-width: fit-content;
    transition: all 0.2s;
}

.wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
}















.sidebar_button {
    padding-top: 10px;
    position:fixed;
    top: 10px;
    right: 10px;
    z-index:3;
}

.sidebar_button button {
    width: 160px;
    height: 40px;
    font-size: 1.5em;
    background-color: rgba(25, 255, 186, 0.856);
    border: 0;
    border-radius: 10px;
}

.sidebar_button button:hover {
    cursor: pointer;
}


.sidebar {
    background-color: rgba(232, 250, 233, 0.835);
    width: 250px;
    height: 100%;
    bottom: 0px;
    right: 0;
    z-index:2;
    position: fixed;
    /* display: flex;
    flex-direction: column; */
    transition: all 0.4s;
}

.sidebar>div{
    /* padding-top: 80px; */
    padding: 80px 10px 0 10px;
}

.sidebar.hidden {
    right: -300px;
}

.controls {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    z-index: 2;
}

.controls input {
    vertical-align: middle;
    width: 120px;
}

.controls div {
    padding: 3px;
    display: inline;
    vertical-align: middle;
}

.buttons1 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background_toggle {
    margin: 5px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}













#background_SVG {
    width: 3200px;
    height: 1600px;
    top: var(--updown);
    position:absolute;
    cursor: move;
    background-image:url("image/Front.svg");
    background-repeat:no-repeat;
    opacity: 0.5;
}

#background_PIC {
    position: absolute;
    top: 550px;
    left: 976px;
    width: 1110px;
    height: 750px;
    z-index: -1;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transform: rotate(-1deg);
}


















object {
    width: 50%;
    position: relative;
    top: 100px;
    left: 100px;
}

.stand {
    position: absolute;
    z-index: 2;
    cursor: grab;
    top: 1300px;
}

#_1 {
    left: 850px;
}

#_2 {
    left: 1050px;
}

#_3 {
    left: 1200px;
}

#_4 {
    left: 1300px;
}

#_5 {
    left: 1400px;
}